.home{
    padding: 94px;
}


.home__container{
    display: flex;
    align-items: flex-start;
}

.home__left{
    width: 260px;
}

.home__right{
    width: 825px;
    margin-left: 30px;
}
