@import "../../../assets/scss/variables";



.type-filter{
    margin-top: 24px;
    background-color: #ffff;
    border-radius: $radius;
    padding: 24px;

    display: flex;
    flex-wrap: wrap;
    gap:14px 8px;
}

.type-filter__radio:checked + .type-filter__styled-radio{
    background-color: $blue;
    color: #ffff;

}