.replyes__box{
    display: flex;
    justify-content: space-between;
    padding: 78px 32px 10px 32px;
}

.replyes__div{
    margin-left: 144px;
}


.replyes__wrapper{
    margin-left: 32px;
    width: 549px;
   
}


.replyes__boxing{
    width: 594px;
}

.replyes__boxing--mod{
    width: 549px;
    
}

.replyes__wrap{
    display: flex;
    justify-content: space-between;
}


.replyes__title{
    margin-top: 0px;
}

.replyes__link{
    text-decoration: none;
    color: #4661E6;
}

.replyes__bottom{
    border: solid 2px red;
    width: 600px;
    height: 1px;
}